# Dependecy directories

node_modules/

# Coverage tools
coverage/

# Database queries
data/

# Distribuition Files
**/dist/*

# Environment Files
*.env

# VSCode Config Files (keep launch.json)

!.vscode/launch.json
.vscode/*
